body {
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 10;
  margin: 10;

}
#nav-bar {
  
    display:flex; 
    background-color:rgb(255, 255, 255);
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
 
}
/* 
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: rgb(37, 37, 37);
  -webkit-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
  margin-top: 0px;
} */
/* .navbar .nav-item {
    padding-right: 6px;
    padding-left: 6px; 
    color: black;
} */

.MuiGrid-spacing-xs-8 {
  width: calc(100% + 50px);
  margin-top: 20px;
}

.MuiGrid-item {
  margin: 10;
  box-sizing: border-box;
}

.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 100px;
}

.jumbotron {
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  background-color: rgb(166, 168, 170);
  border-radius: .3rem;
}


.MuiGrid-spacing-xs-8 > .MuiGrid-item {
  padding: 132px;
}